#version_select {
    width: 100px;
    margin: 10px 0px;
    padding: 5px;
}
.center {
    text-align: center;
}
.alert {
    width: 40%;
}
.no-margin {
    margin: 0;
}
.status-select {
    min-width: 100px;
}
.btn {
    min-width: 100px;
}


/* Formats for showing the diff between two texts. */
.added, .added p, .added li {
  background-color: #B4D5FF; /* highlight for added text */
  /*font-weight: bold;*/
  color: #000000;
}
.removed, .removed p, .removed li {
  background-color: #FFD4D4; /* highlight for removed text */
  text-decoration: line-through;
  color: #000000;
}


/* Highlights a table row. */
.highlight td, .highlight a {
    background-color: #88E788 !important;
    color: #2A2A2A !important;
    font-weight: bold;
}


/* Disabled button with a diagonal line through it. */
.btn.disabled {
    position: relative;
    overflow: hidden;
}

.btn.disabled::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -25%;
    width: 150%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotate(-15deg);
}


input[type="number"] {
    width: 100px;
}