#version_select {
    width: 100px;
    margin: 10px 0px;
    padding: 5px;
}
.center {
    text-align: center;
}
.alert {
    width: 40%;
}
.no-margin {
    margin: 0;
}
.status-select {
    min-width: 100px;
}
.btn {
    min-width: 100px;
}


/* Formats for showing the diff between two texts. */
.added, .added p, .added li {
  background-color: #B4D5FF; /* highlight for added text */
  /*font-weight: bold;*/
  color: #000000;
}
.removed, .removed p, .removed li {
  background-color: #FFD4D4; /* highlight for removed text */
  text-decoration: line-through;
  color: #000000;
}